<div PA top="-46px" PA container-fluid p-0 margin-left="-15px" margin-right="-15px">
  <img above-fold src="blocks/white-separator/img/separator.svg" style="width:calc(100% + 30px)" alt="separator" />
</div>

<div PA top="-34px" PA container-fluid p-0 margin-left="-15px" margin-right="-15px">
  <div right="15px" z-index="-1" PA top="0" PA container-fluid p-0 margin-left="-15px" margin-right="-15px" height="50%" background="#62557e">
  </div>
  <img src="blocks/white-separator/img/white-separator1.png" style="width:calc(100% + 30px)" alt="separator" />
</div>