<parallax no-placeholder acc-y="1" background-position="right bottom" translate-x="0" translate-y="-600"  background-repeat="no-repeat" once background-image="blocks/top-parallax/deco/squares-r.svg" />

<container MarginAuto TopParallax z-index="9" PA height="750px">
  <parallax LeftParallax no-placeholder acc-y="-1.5" background-position="left" translate-x="-90" translate-y="-225" background-repeat="no-repeat" once background-image="blocks/top-parallax/deco/squares1.svg" />

  <parallax RightParallax no-placeholder acc-y=".5" background-position="left" translate-x="135" translate-y="327"  background-repeat="no-repeat" once background-image="blocks/top-parallax/deco/square2.svg" />
</container>