<stylesheet href="styles/Service.css" />
<stylesheet href="styles/4Works.css" />
<stylesheet href="../styles/index.css" />

<div PR background="linear-gradient(180deg, #FFFFFF 17.81%, #9f9fc5 100%);" padding-bottom="5rem">
  <img z-index="10" MainIllustrationIndex TopIllustration2 TopVector TopVector2 above-fold PA top="-60px" src="./img/illustration.png" alt="top illustration" />

  <block-top-parallax />

  <block-navstrip />

  <top-container
    title="Клининговые решения для Вас и Вашего бизнеса"
    moto="Выберите нас и Вы останетесь довольны результатом!"
  >
    <span R T18>ПрофСервис</span> - это клининговая компания, занимающая одну из лидирующих позиций на рынке.
  </top-container>

  <container z-index="10" PR margin-top="-20px">
    <div w-100 h-100 left="0" top="0" ServiceList PA z-index="10">
    </div>

    <img width="105%" z-index="9" TopVector PA left="-60px" bottom="-100px" src="img/deco/13.png" alt="bottom vector" />
    <img z-index="9" TopVector PA left="0" bottom="-53px" src="img/deco/12.png" alt="bottom vector" />

    <row PR z-index="11">
      <column text-center col-12 py-5>
        ## Выберите вариант сотрудничества

      </column>
    </row>
    <row padding-bottom="3.5rem" z-index="11" PR>
      <advanced-column title="B2B" iconSrc="img/icons/general-clean.svg" iconAlt="B2B клининг"
        href="b2b" linkTitle="Перейти">
        Ежедневная уборка и содержание прилегающих территорий и внутренних
        помещений для коммерческих организаций.
      </advanced-column>

      <advanced-column title="B2C" iconSrc="img/icons/disinfection.svg" iconAlt="B2C клининг"
        href="b2c" linkTitle="Перейти">
        Разовая уборка для частных лиц, уборка квартир, коттеджей и офисов.
      </advanced-column>

      <advanced-column title="B2G" iconSrc="img/icons/support-clean.svg" iconAlt="B2G клининг"
        href="b2g" linkTitle="Перейти">
        Ежедневная уборка и содержание прилегающих территорий и внутренних
        помещений для государственных организаций.
      </advanced-column>
    </row>
  </container>
</div>