<stylesheet href="blocks/navstrip/navstrip.css" />

<!-- THE TOP STRIP BACKGROUND IMAGE -->
<div z-index="9" position-absolute overflow-hidden top="0" left="0" right="0" background="white">
  <container>
    <row height="62px">
      <column background="linear-gradient(270.02deg, #CCCCE0 35.74%, #EDEDF4 55.11%, #FFFFFF 75.59%);"></column>
    </row>
  </container>
</div>

<!-- THE STRIP -->
<container position-relative z-index="11">
  <row z-index="10" height="62px"  align-items-center>
    <!-- order-1 -->
    <column col-3 col-md-4 col-lg-3>
      <a NoUnderline href="/" white-space="nowrap">
        <img above-fold src="blocks/navstrip/img/logo/logo.svg" alt="profservice.ru" />
        <img above-fold ml-2 src="blocks/navstrip/img/logo/logo1.svg" alt="profservice.ru" />
      </a>
    </column>
    <!-- order-2 order-md-3 order-lg-2 -->
    <column col-2 md-3 lg-2 PR z-index="15" >
      <div NavContactsDiv text-right line-height=".7rem">
        <span T12 d-block>
          +7 999 852 32 92
        </span>
        <span mt-1 T12 d-block>
          +7 495 197 81 45
        </span>
        <span T9>
          с 8:00 до 17:00
        </span>
      </div>
    </column>
    <column col-2 PR z-index="15" line-height=".7rem" d-md-none d-lg-flex>
      <div>
        <span T12 d-block>
          director@profservice.moscow
        </span>
        <span T9>
          г. Москва
        </span>
      </div>
    </column>
    <!-- order-3 order-md-2 order-lg-3 -->
    <column LastNavCol col-2 md-5 lg-5 PR z-index="15" pr-md-5>
      <span T12 d-block d-lg-none pr-md-3 padding-bottom="1px">
        director@profservice.moscow
      </span>
      <a OrangeH href="javascript:void 0" onclick="YourName.focus()"><span OrangeBtn T14 M px-4 ContactBtn>
        Связаться
      </span></a>
    </column>
  </row>
</container>