<container OurMachinesDiv>
  <row justify-content-center PR33>
    <column text-center mb-2 mt-5 T28>
      ## Наша уборочная техника
    </column>
  </row>
  <row PR33 pb-4>
    <column text-center Light T18>

      Профессиональный клининг невозможен без соответствующего оборудования.

    </column>
  </row>

  <row mt-4 PR33>
    <div PA top="calc(50% - (63px / 2))" right="-25px">
      <img src="blocks/our-work/resources/arrow-right.png" alt="стрелка вправо" />
    </div>
    <div PA top="calc(50% - (63px / 2))" left="-25px">
      <img src="blocks/our-work/resources/arrow-left.png" alt="стрелка влево" />
    </div>

    <column d-flex ImgReelContainer overflow="scroll">
      <img ImgReel flex-fill src="img/equipment/1.jpg" alt="наша техника" />
      <img ImgReel flex-fill src="img/equipment/2.jpg" alt="наша техника" />
      <img ImgReel flex-fill src="img/equipment/3.jpg" alt="наша техника" />
    </column>
  </row>
</container>