<!doctype html>
<html lang="en" h-100 class="no-js">
  <block-head />
  <stylesheet href="./MainLayout.css" />
  <selector-font h1-h6 fallback="sans-serif">Montserrat Alternates</selector-font>

  <body d-flex flex-column h-100 position-relative>
    <main overflow-hidden role="main" flex-shrink-0 flex-grow-1>
      {{ content }}
    </main>

    <add-file>yandex_b42cbabdc702a7d8.html</add-file>

    <!-- <container>
    <row>
      <1block-left-column md-3 />
      <column md-9 id="Content" RightColumn> -->
      <!-- </column>
    </row>
  </container> -->

    <!-- <add-file>js/service-worker/index.js</add-file> -->
    <!-- reloading of scripts does not work... they are not served by the front-end middleware? -->
    <!-- <script async src="js/sws.js" /> -->
    <!-- <block-footer /> -->

    <script keep>
      function DEPACK_REQUIRE(packageName) {
        const mod = DEPACK_REQUIRE[packageName]
        return mod
      }
      window['DEPACK_REQUIRE'] = DEPACK_REQUIRE
    </script>
  </body>
</html>