body {
  font-family: 'Ruda', sans-serif;
}
.RightColumn {
  line-height: 1.5rem;
  hyphens: auto;
}
.LeftColumn ul {
  list-style-type: none;
}
.LeftColumn ul li.Active {
  font-weight: 700;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}