.Service, .AdvancedService {
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
@media (min-width:992px) {
  .W-20 {
    -moz-box-flex: 0 0 20% !important;
    -webkit-flex: 0 0 20% !important;
    max-width: -webkit-calc((100%/5) - 4rem) !important;
    max-width: -moz-calc((100%/5) - 4rem) !important;
  }
}
.ServiceList {
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
@media (max-aspect-ratio:1/1) {
  .TopParallax {
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
  }
}
.Rotate {
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  -webkit-transition-property: transform;
  -o-transition-property: transform;
}
.Rotate:hover {
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
.Stage {
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.25);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.AboutInNumbers {
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.AboutRow {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.BgImage {
  -webkit-background-size: contain;
  -o-background-size: contain;
}
.ScrollableRow, .ScrollableRow img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.FooterInfo {
  -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.25);
  -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.Badge {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
.FormError {
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  -webkit-box-shadow: inset 0 0 7px 0 #e08344;
  -moz-box-shadow: inset 0 0 7px 0 #e08344;
}
.FormSuccess {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-box-shadow: inset 0 0 7px 0 #4ce044;
  -moz-box-shadow: inset 0 0 7px 0 #4ce044;
}
.ContactRow .ArrowInd {
  -webkit-animation: zoomIn 2s ease-in-out infinite;
  -o-animation: zoomIn 2s ease-in-out infinite;
}
.ContactRow:hover .ArrowInd {
  -webkit-animation: none;
  -o-animation: none;
}
.ContactRow .ArrowIndBase {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}
@keyframes zoomIn {
  0% {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  to {
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    -o-transform: scale(3);
  }
}
@media (max-width:1199.9px) {
  .ContactRow {
    -webkit-transition-duration: .8s;
    -o-transition-duration: .8s;
    -webkit-transition-property: left;
    -o-transition-property: left;
  }
}
.Parallax {
  -webkit-animation-fill-mode: forwards;
}
.BX, .BoxShadow {
  -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
  -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
.OrangeBtn {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}
.RightColumn {
  -moz-hyphens: auto;
}
* {
  -webkit-box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
}
button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col {
  -webkit-flex-basis: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
}
.col-1 {
  -webkit-box-flex: 0 0 8.333333%;
  -moz-box-flex: 0 0 8.333333%;
  -webkit-flex: 0 0 8.333333%;
}
.col-2 {
  -webkit-box-flex: 0 0 16.666667%;
  -moz-box-flex: 0 0 16.666667%;
  -webkit-flex: 0 0 16.666667%;
}
.col-3 {
  -webkit-box-flex: 0 0 25%;
  -moz-box-flex: 0 0 25%;
  -webkit-flex: 0 0 25%;
}
.col-4 {
  -webkit-box-flex: 0 0 33.333333%;
  -moz-box-flex: 0 0 33.333333%;
  -webkit-flex: 0 0 33.333333%;
}
.col-6 {
  -webkit-box-flex: 0 0 50%;
  -moz-box-flex: 0 0 50%;
  -webkit-flex: 0 0 50%;
}
.col-7 {
  -webkit-box-flex: 0 0 58.333333%;
  -moz-box-flex: 0 0 58.333333%;
  -webkit-flex: 0 0 58.333333%;
}
.col-11 {
  -webkit-box-flex: 0 0 91.666667%;
  -moz-box-flex: 0 0 91.666667%;
  -webkit-flex: 0 0 91.666667%;
}
.col-12 {
  -webkit-box-flex: 0 0 100%;
  -moz-box-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
}
@media (min-width:768px) {
  .col-md-3 {
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
  }
  .col-md-4 {
    -webkit-box-flex: 0 0 33.333333%;
    -moz-box-flex: 0 0 33.333333%;
    -webkit-flex: 0 0 33.333333%;
  }
  .col-md-5 {
    -webkit-box-flex: 0 0 41.666667%;
    -moz-box-flex: 0 0 41.666667%;
    -webkit-flex: 0 0 41.666667%;
  }
  .col-md-6 {
    -webkit-box-flex: 0 0 50%;
    -moz-box-flex: 0 0 50%;
    -webkit-flex: 0 0 50%;
  }
}
@media (min-width:992px) {
  .col-lg-2 {
    -webkit-box-flex: 0 0 16.666667%;
    -moz-box-flex: 0 0 16.666667%;
    -webkit-flex: 0 0 16.666667%;
  }
  .col-lg-3 {
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
  }
  .col-lg-5 {
    -webkit-box-flex: 0 0 41.666667%;
    -moz-box-flex: 0 0 41.666667%;
    -webkit-flex: 0 0 41.666667%;
  }
  .col-lg-8 {
    -webkit-box-flex: 0 0 66.666667%;
    -moz-box-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
  }
}
@media (min-width:1200px) {
  .col-xl-8 {
    -webkit-box-flex: 0 0 66.666667%;
    -moz-box-flex: 0 0 66.666667%;
    -webkit-flex: 0 0 66.666667%;
  }
  .col-xl-9 {
    -webkit-box-flex: 0 0 75%;
    -moz-box-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
  }
  .col-xl-10 {
    -webkit-box-flex: 0 0 83.333333%;
    -moz-box-flex: 0 0 83.333333%;
    -webkit-flex: 0 0 83.333333%;
  }
}
.d-flex {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
}
@media (min-width:992px) {
  .d-lg-flex {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -webkit-flex !important;
  }
}
.flex-column {
  -webkit-flex-direction: column !important;
}
.flex-grow-1 {
  -webkit-box-flex: 1 !important;
  box-flex: 1 !important;
  -webkit-flex-grow: 1 !important;
}
.flex-shrink-0 {
  -webkit-flex-shrink: 0 !important;
}
.justify-content-start {
  -webkit-justify-content: flex-start !important;
}
.justify-content-end {
  -webkit-justify-content: flex-end !important;
}
.justify-content-center {
  -webkit-justify-content: center !important;
}
.align-items-center {
  -webkit-align-items: center !important;
}
@media print {
  * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::after {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}
