<row mt-4 PR33>
  <div PA top="calc(50% - (63px / 2))" right="-25px">
    <img src="blocks/our-work/resources/arrow-right.png" alt="стрелка вправо" />
  </div>
  <div PA top="calc(50% - (63px / 2))" left="-25px">
    <img src="blocks/our-work/resources/arrow-left.png" alt="стрелка влево" />
  </div>

  <column d-flex ImgReelContainer overflow="scroll">
    <img ImgReel flex-fill src="img/works2/2.png" alt="пример работы клинига" />
    <img ImgReel flex-fill src="img/works2/1.png" alt="пример работы клинига" />
    <img ImgReel flex-fill src="img/works2/3.png" alt="пример работы клинига" />
    <img ImgReel flex-fill src="img/works2/4.png" alt="пример работы клинига" />
    <img ImgReel flex-fill src="img/works2/5.png" alt="пример работы клинига" />
    <img ImgReel flex-fill src="img/works2/6.png" alt="пример работы клинига" />
    <img ImgReel flex-fill src="img/works2/7.png" alt="пример работы клинига" />
  </column>
</row>