<stylesheet href="styles/Service.css" />
<stylesheet href="../styles/B2C.css" />

<div PR background="linear-gradient(180deg, #FFFFFF 17.81%, #9C9CC3 100%);" padding-bottom="15rem">
  <img z-index="10" TopVector MainIllustration above-fold PA top="-91px" src="img/fullImg.svg" alt="top vector" />

  <block-top-parallax />

  <block-navstrip />

  <top-container
    title="«Роскошь начинается с порядка и чистоты»"
    title2=" - Альберто Моравиа"
    moto="Выберите нас и Вы останетесь довольны результатом!"
  >
    <span R T18>B2C</span> - Разовая уборка для частных лиц, уборка квартир, коттеджей и
    офисов.
  </top-container>

  <container z-index="10" PR>
    <!-- <img1 width="105%" z-index="9" TopVector PA left="-60px" top="12px" src1="../img/bottom.svg" alt="bottom vector" /> -->
    <img width="105%" z-index="9" TopVector PA left="-60px" top="12px" src="/img/deco/13.png" alt="bottom vector" />
    <img z-index="9" TopVector PA left="0" top="0" src="img/deco/12.png" alt="bottom vector" />

    <row ServiceList PR z-index="11">
      <column text-center col-12 py-5>
        ## Перечень оказываемых услуг

      </column>
      <div col col-12>
        <div row d-flex DFlexRow>
          <column W-20 Service text-center>
            <img above-fold Rotate placeholder-auto src="img/icons/general-clean.svg" alt="Генеральная уборка" />
            ### Генеральная уборка

          </column>
          <column W-20 Service text-center>
            <img above-fold Rotate placeholder-auto src="img/icons/support-clean.svg" alt="Поддерживающая уборка" />
            <div SupportiveCleanDiv>
              <h3 d-inline-block>Поддерживающая уборка</h3>
            </div>

          </column>
          <column W-20 Service text-center align-items-center>
            <img above-fold Rotate placeholder-auto src="../img/dry-clean-furniture.svg" alt="Химчистка мебели" />
            ### Химчистка мебели

          </column>
          <column W-20 Service text-center>
            <img above-fold Rotate placeholder-auto src="../img/post-remont.svg" alt="Уборка после ремонта" />
            ### Уборка после ремонта

          </column>
          <!-- <column W-20 Service text-center visibility="hidden" d-lg-none d-sm-none>
            ### Уборка после ремонта

          </column> -->
          <column W-20 Service text-center>
            <img above-fold Rotate placeholder-auto src="img/icons/disinfection.svg" alt="Дезинфекция помещений" />
            ### Дезинфекция помещений

          </column>
        </div>
      </div>
      <column text-center col-12 py-5 height="2rem;">
      </column>
    </row>

  </container>
</div>