.ContactRow {
  zoom: 1;
}
.ContactRow .ArrowInd {
  animation:zoomIn 2s ease-in-out infinite;
}
.ContactRow:hover .ArrowInd {
  animation:none;
}
.ContactRow .ArrowIndBase {
  transform:scale(1.5);
}
@keyframes zoomIn {
  0% {
    opacity: 1;
    transform:scale(1.5);
  }
  100% {
    opacity: 0;
    transform:scale(3);
    /* transform:rotate(360deg); */
  }
}
@media (max-width:1200px) {
  .ContactRow .ArrowInd, .ContactRow .ArrowIndBase {
    display: block;
  }
}
@media (max-width:1199.9px) {
  .ContactRow {
    transition-duration: 0.8s;
    transition-property: left;
    bottom: -1rem;
  }
  .ContactRow {
    left:-45%;
  }
  .ContactRow:hover {
    left:0;
  }
  /* @media (min-width:992px) {
    .ContactRow {
      left:-45%;
    }
  } */
  @media (min-width:1152px) {
    .ContactRow {
      left:-35%;
    }
  }
}
