@media (min-width:1200px) {
  .ContactRow {
    left: -204px;
  }
}
@media (min-width:1200px) and (max-width:1300px) {
  .ContactRow {
    zoom: 0.87;
  }
}
@media (min-aspect-ratio:1/1) {
  @media (min-width:1200px) and (max-width:1300px) {
    .ContactRow {
      left: -230px;
    }
    .FooterAddress {
      margin-right: -5rem;
    }
  }
  @media (min-width:1300px) and (max-width:1400px) {
    .ContactRow {
      zoom: 0.9;
    }
    .FooterAddress {
      margin-right: -5rem;
    }
  }
  @media (min-width:1400px) and (max-width:1500px) {
    .ContactRow {
      zoom: 0.95;
    }
  }
}
@media (min-width:1200px) and (max-width:1300px) {
  /* .ContactRow {
    zoom: 0.8;
  } */
}
@media (min-width:1300px) and (max-width:1400px) {
  /* .ContactRow {
    zoom: 0.9;
  } */
}
@media (min-width:1400px) and (max-width:1500px) {
  /* .ContactRow {
    zoom: 0.95;
  } */
}
@media (max-aspect-ratio:1/1) and (min-width:1200px) {
  @media (min-width:1200px) {
    .ContactRow {
      left: -225px;
    }
    .FooterAddress {
      margin-right: -5rem;
    }
  }
}