.FooterInfo {
  background: #F3F3FF;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.Badge {
  background: #777393;
  border-radius: 10px;
  padding-right: 12px;
  padding-left: 12px;
}

/* .BgRow {
  left: -574px;
} */
.LeaveOrder {
  bottom: 68px !important;
  left: 211px !important;
  width: 56% !important;
}
.FormError {
  margin: 0;
  background: #ffdbc3;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: inset 0px 0px 7px 0px #e08344;
}
.FormSuccess {
  margin: 0;
  background: #cdffc3;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: inset 0px 0px 7px 0px #4ce044;
}
.FormError a, .FormError a:hover {
  color: #dc3545;
}
form.ContactFormCompleted input {
  background-color: #a9a7c8 !important;
}