<stylesheet href="blocks/footer/Footer.css" />
<stylesheet href="blocks/footer/ContactRow.css" />
<stylesheet href="blocks/footer/ContactRowWide.css" />
<script src="blocks/footer/consent.js"></script>

<container-fluid overflow-hidden PR background="linear-gradient(180deg, #9F9FC5 25.43%, #CDCDE0 65.79%, #DFDFEC 100%);">
  <container>
    <row id="ContactForm" ContactRow BgRow PR33 z-index="35" PA bottom="-15px">
      <img src="img/resources/arrow-right.png" d-xl-none ArrowIndBase PA right="150px" z-index="1" top="72%" alt="показать форму" />
      <img src="img/resources/arrow-right.png" d-xl-none ArrowInd PA right="150px" z-index="1" top="72%" alt="показать форму мигрцание" />
      <!-- <img img-fluid src="blocks/footer/img/contact-bg.png" above-fold alt="фон оставить заявку " /> -->

      <column text-center mb-2 T28 ContactFormCol>
        <img img-fluid src="blocks/footer/img/contact-bg.png" above-fold alt="фон оставить заявку" />
      </column>
      <column PA LeaveOrder>
        <div row justify-content-center mb-3>
          <div width="73%">
            <p FM SB T24 text-center CW mt-3 mt-xl-0>
              Оставьте заявку
              <br/>
              <span T16 R>И мы свяжемся с Вами в течении часа</span>
            </p>
          </div>
        </div>
        <form ContactForm action="https://profservice.moscow/sendmail.php" width="93%" MarginAuto>
          <div row T16 mb-3 justify-content-center>
            <col xl-10>
              <input required name="name" id="YourName" height="45px" py-2 text-center w-100 placeholder="Ваше имя">
              <input type="hidden" name="site" value="PROFSERVICE.MOSCOW" />
            </col>
</div>
          <div row T16 mb-4 justify-content-center>
            <col xl-10>
              <input type="tel" required name="phone" height="45px" py-2 text-center w-100 placeholder="Ваш телефон">
            </col>
</div>
          <div row T13 mb-4 justify-content-center>
            <col col-11 xl-9>
              <p border-radius=".25rem" m-0 color="grey" white-space="nowrap" px-2 overflow-hidden onclick="flipConsent()" height="28px" cursor="pointer" opacity="1" BW py-1 w-100 text-center>
                Согласие на обработку персональных данных
              </p>
              <!-- <input onclick="flipConsent()"  placeholder=""> -->
            </col>
            <col col-1>
              <input id="ConsentTick" cursor="pointer" onclick="flipConsent()" height="28px" value="✅" py-1 text-center float-right style="width:2rem" CW BW required>
            </col>
</div>
          <div row justify-content-center>
            <col pt-2 xl-10>
              <callback-button B0 py-3 w-100 OrangeBtn d-block T24 p-2 BoxShadow>
                Оставить заявку
              </callback-button>
            </col>
</div>
            <div row justify-content-center>
              <col pt-2 xl-10>
                <p text-center FormSuccess id="FormSuccess" small style="display:none" text-success>
                  <b>Заявка была успешно оставлена, <span id="FormName">Name</span>!</b> Ожидайте ответа менеджера.
                </p>
                <p FormError id="FormError" small style="display:none" text-danger>
                  <b>Заявка не была оставлена.</b> Попробуйте еще раз, или свяжитесь с нами по телефону <em>+7 999 852 32 92</em>. Благодарим за понимание. <a href="#" id="CloseFormErrorNotice">Закрыть</a>
                </p>
              </col>
</div>
        </form>
      </column>
    </row>
  </container>

  <!-- width="calc(100% + 30px)" margin-left="-15px" margin-right="-15px"  -->
  <div w-100 justify-content-center z-index="32" PA bottom="0px" left="0" height="30%" background="#50426F">

  </div>

  <container PR z-index="34" padding-top="10rem">
    <parallax z-index="32" no-placeholder acc-y="1" background-position="top left"
      translate-x="-175" translate-y="0" background-repeat="no-repeat" once
      background-image="blocks/footer/deco/squares1.png" />
    <parallax z-index="32" no-placeholder acc-y="-1" background-position="center right"
      translate-x="-430" translate-y="100" background-repeat="no-repeat" once
      background-image="blocks/footer/deco/squares1.png" />

    <row PR33>
      <column col-12 d-flex align-items-center FooterInfo justify-content-end>
        <p m-0 width="25%" T13 py-4>
          Клининговая компания ПрофСервис основанная в 2016 году, успешно стартовала
          в начале своего этапа развития. Большое количество специального
          оборудования, а так же квалифицированных специалистов поспособствовали
          этому. От разовой уборки у частных лиц до многолетнего  сотрудничества с
          государственными компаниями.<br />
          Выбирая нас, Вы выбирате чистоту, которая является визитной карточкой
          любой организации.
        </p>

        <div px-5>
          <a href="/" title="profserice" text-decoration="none !important">
            <img src="blocks/footer/img/logo.png" alt="profservice logo" />
          </a>
        </div>
      </column>
    </row>
    <div container PR33>
      <div row>
        <column>
        </column>
        <column mb-2 mt-3 pt-3 T28 CW FooterAddress>
          <p text-right T14>
            Студенческая, 38
            <br />
            г. Москва
          </p>
          <p text-right T14>
            director@profservice.moscow
            <br />
            tender@profservice.moscow
          </p>
          <!-- ## Оставьте заявку -->
        </column>
        <column col-4 CW mt-3 pt-3 text-right margin-right="-25px">
          <p T24>
            +7 999 852 32 92
          </p>
          <p Light T13>
            <a CB href="https://api.whatsapp.com/send/?phone=%2B79998523292&text=вопрос по сайту PROFSERVICE.MOSCOW">
              <span py-2 CB Badge >WhatsApp</span>
            </a>
            <!-- <span py-2 CB Badge>Telegram</span> -->
          </p>
          <p T12>
            с 8:00 до 17:00
            <br />
            5/2
          </p>
          <!-- something -->
        </column>
        <!-- <column col-2>
        </column> -->
      </div>
    </div>
  </container>
</container-fluid>