<block-order-now>
  <p FM SM T22 text-center CW mt-3 mt-xl-0>
    Оставьте заявку, и менеджер свяжется с Вами в течение
     <!-- <span B></span> -->
    <span B T30><br />30 минут!</span>
  </p>
</block-order-now>
