<stylesheet href="styles/4Works.css" />

<add-file>img/white-bg2.svg</add-file>
<container-fluid PR33 background="white" BgImage2 overflow-hidden pb-5>
  <block-white-separator />

  <!-- <img1 src1="./img/separator.svg" style="width:calc(100% + 30px)" alt="separator" /> -->

  <!-- <div PA bottom="0" PA container-fluid p-0 margin-left="-15px" margin-right="-15px" background="white" height="200px">
  </div> -->

  <block-our-equipment />

  <block-our-work padding-top="0">
    <block-cleaning-example />

    <block-clearing-example />
  </block-our-work>

</container-fluid>

<container-fluid PR margin-top="5rem">
  <block-separator2 />

  <block-our-clients />

  <div PA bottom="0" PA container-fluid p-0 margin-left="-15px" margin-right="-15px" height="50%" background="white">
  </div>
  <!-- <div margin-top="-20rem" container-fluid background="white" height="350px">

  </div> -->
</container-fluid>
