<row PR33 ArrowControllable no-gutters>
  <div
    onmouseover1="window._scrollInterval=setInterval(function(){ScrollableRow.scrollLeft--},10)"
    onmouseout1="clearInterval(window._scrollInterval)"
    onclick="scrollRowLeft()"
    ArrowDiv ArrowDivLeft PA top="calc(50% - (63px / 2))" left="-25px"
  >
    <img src="img/resources/arrow-left.png" alt="стрелка влево" />
  </div>
  <div
    onmouseover1="window._scrollInterval=setInterval(function(){ScrollableRow.scrollLeft++},10)"
    onmouseout1="clearInterval(window._scrollInterval)"
    onclick="scrollRowRight()"
    ArrowDiv ArrowDivRight PA top="calc(50% - (63px / 2))" right="-25px">
    <img src="img/resources/arrow-right.png" alt="стрелка вправо" />
  </div>

  <div col>
    <div id="ScrollableRow" ScrollableRow OverflowFix cursor="grab" onmousedown="mouseDownHandler(event)" row
    flex-wrap="nowrap" overflow-y="hidden" overflow-x="hidden" mx-1>
      <column d-flex justify-content-center PR33 pl-0>
        <img ondragstart="event.preventDefault()" ImgCompare src="img/works/2.png" alt="примеры работ клининга" pr-2 />
        <img ondragstart="event.preventDefault()" ImgCompare src="img/works/1.png" alt="примеры работ клининга" />
      </column>
      <column d-flex justify-content-center>
        <img ondragstart="event.preventDefault()" ImgCompare src="img/works/3.png" alt="примеры работ клининга" pr-2 />
        <img ondragstart="event.preventDefault()" ImgCompare src="img/works/4.png" alt="примеры работ клининга" />
      </column>
      <column d-flex justify-content-center pr-0>
        <img ondragstart="event.preventDefault()" ImgCompare src="img/works/5.png" alt="примеры работ клининга" pr-2 />
        <img ondragstart="event.preventDefault()" ImgCompare src="img/works/6.png" alt="примеры работ клининга" />
      </column>
    </div>
  </div>
</row>

<script src="blocks/cleaning-example/cleaning-example.js" />
<script src="blocks/cleaning-example/wheel.js" />
