<container-fluid background="#827EB3;" BX PR>
  <div overflow-hidden w-100 MarginAuto TopParallax PA h-100>
    <!-- zoom="1.5" -->
    <parallax no-placeholder acc-y="-1" background-position="left"
    translate-x="0" translate-y="-255" background-repeat="no-repeat" once
    background-image="blocks/order-now/deco/squares3.svg" />

    <parallax no-placeholder acc-y=".5" background-position="left"
    translate-x="500" translate-y="0"  background-repeat="no-repeat" once
    background-image="blocks/order-now/deco/squares3.svg" />

    <parallax PlR2 no-placeholder acc-y="-1" background-position="right center" translate-x="0" translate-y="100"  background-repeat="no-repeat" once background-image="blocks/order-now/deco/squares-r2.svg" />
  </div>

  <row position-relative z-index="22">
    <column col-md-6 pt-5 d-flex flex-column justify-content-end>
      <span d-flex justify-content-center>
        <span position-relative>
          <img width="83%" AutoRotate z-index="1" PA left="10px" top="-17px"
          MarginAuto src="blocks/order-now/img/Vector 11.png" alt="уборщица иллюстрация фон" />
          <img img-fluid z-index="2" margin-bottom="-3px" position-relative src="blocks/order-now/img/Слой_2.png" alt="уборщица иллюстрация" />
        </span>
      </span>
    </column>
    <column d-flex flex-column justify-content-center>
      <container ml-0 MarginAuto my-4>
        <div row justify-content-center>
          <div width="60%" d-flex>
            <block-content />
          </div>
        </div>
        <form w-100>
          <div row T16 mb-4 justify-content-center>
            <col xl-10>
              <input py-2 text-center w-100 placeholder="Ваше имя">
            </col>
          </div>
          <div row T16 mb-5 justify-content-center>
            <col xl-10>
              <input py-2 text-center w-100 placeholder="Ваш телефон">
            </col>
          </div>
          <!-- <div row T13 mb-4 justify-content-center>
            <col col-11 xl-9>
              <input cursor="pointer" disabled BW py-1 w-100 text-center placeholder="Пользовательское соглашение">
            </col>
            <col col-1>
              <input placeholder="✅" py-1 disabled text-center float-right style="width:2rem" CW BW>
            </col>
          </div> -->
          <div row justify-content-center>
            <col pt-2 xl-10>
              <button B0 py-3 w-100 OrangeBtn d-block T24 p-2 BoxShadow>
                Оставить заявку
              </button>
            </col>
          </div>
        </form>
      </container>
    </column>
  </row>
</container-fluid>