<stylesheet href="styles/Stage.css" />

<container-fluid overflow-hidden
  padding-bottom="5rem"
  background="linear-gradient(180deg, rgba(253, 253, 254, 0.9) 0%, rgba(201, 197, 225, 0.9) 33.25%, rgba(132, 123, 186, 0.9) 56.72%, rgba(80, 66, 111, 0.9) 100%);"
>
  <container PR23>
    <block-stages-parallax />

    <row justify-content-center PR23>
      <column text-center my-5>
        ## Этапы работы
      </column>
    </row>
      <!-- Оставьте заявку на сайте и получите первый день обслуживания бесплатно! -->
      <!-- Наш менеджер свяжется с Вами и уточнит все детали и нюансы для расчета КП -->
      <!-- Клинеры проводят работы согласно установленному графику -->

    <stageRight title="Заявка" stage="1" labelClass="OneLa" ribbonClass="OneIm" z-index="24">
      Оставьте заявку на сайте, и наш менеджер перезвонит Вам в течение 10 минут.
    </stageRight>

    <stageLeft title="Расчет" stage="2" labelClass="TwoLa" ribbonClass="TwoIm" mt-4 pt-5 z-index="25">
      Менеджер озвучит конечную стоимость, после уточнения всех нюансов и деталей.
    </stageLeft>

    <stageRight title="Выполнение работ" stage="3" labelClass="ThreeLa" ribbonClass="ThreeIm OneIm" mt-4 pt-5 voidArrow>
      Клинеры проводят работы согласно установленному графику.
    </stageRight>

    <stageLeft title="Оплата" stage="4" ribbonClass="TwoIm" labelClass="TwoLa" mt-4 pt-5>
      По факту выполнения, когда Вы убедитесь, что все работы выполнены в полном объеме.
    </stageLeft>

  </container>

  <!-- О НАС В ЦИФРАХ -->

  <container AboutInNumbers margin-top="10rem" PR>
    <block-numbers-parallax />

    <row AboutRow justify-content-center PR z-index="23">
      <column text-center mb-4 mt-5>
        ## О нас в цифрах
      </column>
    </row>
    <row AboutRow pb-4 px-4 PR z-index="23">
      <number-column cid="one"  number="1" imgSrc="img/numbers/1.png"
        n-top="39%" n-left="21.5%" p-top="42%" p-left="52%" p-width="27%">
        год успешной <span>работы</span>
      </number-column>

      <number-column cid="two" number="61" imgSrc="img/numbers/2.png"
        padding-top="28px" n-top="38.5%" n-left="16.5%" p-top="43%" p-left="42%" p-width="50%">
        довольный <span>клиент</span>
      </number-column>

      <number-column cid="three" CleanersNumberCol number="8" imgSrc="img/numbers/3.png"
        padding-top="42px" n-top="39%" n-left="18%" p-top="40%" p-left="42%" p-width="41%"
      >
        квалифици-рованных
        <span>клинеров</span>
      </number-column>
    </row>

    <!-- <row AboutRow pb-4 px-4 PR z-index="23">
      <number-column number="8" imgSrc="img/numbers/1.png"
        n-top="39%" n-left="19.5%" p-top="42%" p-left="48%" p-width="27%">
        <span CleanersNumber>
          <span CleanersNumber>квалифициро-ванных</span>
          <span font-size="1.85rem">клинеров</span>
        </span>
      </number-column>

      <number-column number="61" imgSrc="img/numbers/2.png"
        padding-top="28px" n-top="38.5%" n-left="16.5%" p-top="43%" p-left="42%" p-width="50%">
        довольный <span font-size="2rem">клиент</span>
      </number-column>

      <number-column CleanersNumberCol number="1" imgSrc="img/numbers/3.png"
        padding-top="42px" n-top="39%" n-left="21%" p-top="43%" p-left="44%" p-width="41%"
      >
        год успешной <span font-size="1.79rem">работы</span>
      </number-column>
    </row> -->
  </container>
</container-fluid>
