<stylesheet href="styles/4Works.css" />

<container-fluid PR33 BgImage overflow-hidden pb-5>
  <block-white-separator />

  <!-- <div PA bottom="0" PA container-fluid p-0 margin-left="-15px" margin-right="-15px" background="white" height="200px">
  </div> -->

  <block-our-work>
    <block-cleaning-example />
  </block-our-work>

</container-fluid>

<div margin-top="-20rem" container-fluid background="white" height="350px">

</div>


          <!-- <parallax1  z-index="33" no-placeholder acc-y="1" background-position=""
      translate-x="100" translate-y="0" background-repeat="no-repeat" once
      background-image="works/1.png" />
          <parallax1 FirstCompareBack z-index="32" no-placeholder acc-y="0.9" background-position="top"
      translate-x="100" translate-y="0" background-repeat="no-repeat"
      background-image="works/2.png" /> -->
