@media (min-width:1861px) {
  .MainIllustrationIndex {
    right: 0;
  }
}
@media (min-width:2230px) {
  .MainIllustrationIndex {
    right: 10%;
  }
}
@media (min-width:992px) and (max-width:1199.99px) {
  .MainIllustrationIndex {
    right: -188px;
  }
}
@media (min-width:768px) and (max-width:991.99px) {
  .MainIllustrationIndex {
    right: -44%;
  }
}
.MotoDiv {
  width:72%;
}
@media (min-width:992px) and (max-width:1199.99px) {
  /* .MotoDiv {
    width:75%;
  } */
}
@media (min-width:993px) and (max-width:1120.99px) {
  /* .MotoDiv {
    width:60%;
  } */
}
@media (min-width:768px) and (max-width:991.99px) {
}
@media (min-width:768px) and (max-width:800px) {
  /* .MotoDiv {
    width:55%;
  } */
}
@media (min-width:870px) and (max-width:991.99px) {
  /* .MotoDiv {
    width:75%;
  } */
}
@media (min-width:892px) and (max-width:991.99px) {
  /* .MotoDiv {
    width:95%;
  } */
}