/*# A debug pretty version for visual diffs */
.Service, .AdvancedService {
  background: #fff;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  border-radius: 10px;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-top: 24px;
  padding-bottom: 22px;
}
.AdvancedService ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5rem;
  list-style-type: "\2022   ";
}
body h1 {
  font-size: 30px;
}
.Service h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-top: 18px;
}
.Service img {
  width: 50%;
}
body strong {
  font-weight: 500;
}
body h2 {
  font-size: 28px;
}
@media (min-width:992px) {
  .W-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20% !important;
    flex: 0 0 20% !important;
    max-width: calc((100%/5) - 4rem) !important;
  }
  .SupportiveCleanDiv {
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media (max-width:991.99px) {
  .DFlexRow {
    margin-top: -2rem;
  }
  .Service {
    margin-top: 2rem;
  }
}
.ServiceList {
  background: #f3f3ff;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  border-radius: 10px;
}
form input, form button {
  border: 0;
}
form input:focus, form button:focus {
  outline-color: #e08344;
}
.TopVector {
  right: 0;
}
@media (min-width:1200px) {
  .TopVector {
    right: -200px;
  }
}
.TopIllustration2 {
  top: 0 !important;
}
.TopVector2 {
  right: 0;
}
@media (min-width:1200px) {
  .TopVector2 {
    right: 0;
  }
}
.ContactBtn {
  margin-left: -1rem;
}
@media (min-width:1300px) {
  .ContactBtn {
    margin-left: 0;
  }
}
@media (min-width:1400px) {
  .ContactBtn {
    margin-left: 1rem;
    padding-left: 50px !important;
    padding-right: 50px !important;
  }
}
@media (max-aspect-ratio:1/1) {
  .TopParallax {
    top: 79px;
    transform: scaleY(-1);
  }
}
.LeftParallax {
  zoom: 1.2;
}
.MarginAuto {
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
}
.Rotate {
  overflow: hidden;
  transition-duration: .8s;
  transition-property: transform;
}
.Rotate:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.RightParallax, .PlR2 {
  filter: blur(2px);
}
.H1Div h2 {
  font-size: large;
}
.H1Div h1 {
  font-size: 27px;
}
.MotoDiv {
  width: 85%;
}
@media (min-width:768px) and (max-width:991.99px) {
  .MainIllustration {
    right: -44%;
  }
}
@media (min-width:992px) and (max-width:1199.99px) {
  .Service h3 {
    font-size: .75rem;
  }
  .MainIllustration {
    right: -188px;
  }
}
@media (min-width:768px) and (max-width:991.99px) {
  .Service {
    width: 50% !important;
  }
  .Service img {
    max-height: 70px;
  }
}
a.OrangeH:hover {
  color: white;
}
@media (min-width:1861px) {
  .MainIllustration {
    right: 0;
  }
}
@media (min-width:2230px) {
  .MainIllustration {
    right: 10%;
  }
}
@keyframes _fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes _fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes _fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes _fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.LastNavCol {
  text-align: right;
}
@media (min-width:1339px) {
  .LastNavCol {
    text-align: left !important;
  }
}
.Stage {
  background: #fff;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,.25);
  border-radius: 10px;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.Stage .Ribbon {
  top: -5px;
}
.Stage .Label {
  top: 15px;
}
.Stage .ThreeIm {
  top: -8px;
}
@media (min-width:992px) {
  .Stage .OneLa {
    left: 113px;
  }
  .Stage .OneIm {
    left: 96px;
  }
  .Stage .TwoLa {
    right: 113px;
  }
  .Stage .TwoIm {
    right: 96px;
  }
  .Stage .ThreeLa {
    left: 130px;
  }
}
@media (min-width:1200px) {
  .Stage .TwoLa {
    right: 132px;
  }
  .Stage .TwoIm {
    right: 116px;
  }
}
@media (min-width:1200px) {
  .Stage .OneLa {
    left: 134px;
  }
  .Stage .OneIm {
    left: 116px;
  }
}
.AboutInNumbers {
  background: #fbfbff;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,.2);
  border-radius: 10px;
}
.Arrow4 {
  z-index: 2;
  top: -145px !important;
  left: -54px !important;
  width: 115% !important;
  height: 165% !important;
}
.AboutRow {
  background: #fbfbff;
  border-radius: 10px;
}
.Arrow1 {
  z-index: 2;
  top: 304px !important;
  left: 0 !important;
  width: 115% !important;
  height: 165% !important;
}
.PR23 {
  position: relative;
  z-index: 23;
}
@media (min-width:992px) and (max-width:1199.99px) {
  .NumberInfo {
    padding-top: .218rem;
  }
  body .OurWorkDiv {
    padding-top: 1rem;
  }
  body .AboutRow .ArtColumn:nth-child(3) p.NumberInfo {
    left: 42% !important;
    font-size: 13pt;
  }
}
@media (min-width:768px) and (max-width:991.99px) {
  body .OurWorkDiv {
    padding-top: 0;
  }
  body .AboutRow p:first-of-type.FMA {
    top: 31% !important;
    font-size: 3rem !important;
  }
  body .AboutRow p.NumberInfo {
    top: 36% !important;
    left: 50% !important;
    width: 27% !important;
    font-size: .95rem;
  }
  body .AboutRow .ArtColumn:nth-child(2) p.NumberInfo {
    top: 41% !important;
    left: 48% !important;
  }
  body .AboutRow .ArtColumn:nth-child(2) p:first-of-type {
    top: 35% !important;
  }
  body .AboutRow .ArtColumn:nth-child(3) p.NumberInfo {
    top: 40% !important;
    left: 44% !important;
    font-size: .9rem;
  }
  body .AboutRow .ArtColumn:nth-child(3) p:first-of-type {
    top: 38% !important;
  }
}
body main {
  overflow: hidden;
}
.PR33 {
  position: relative;
  z-index: 33;
}
.FirstCompareBack {
  filter: blur(2px);
  zoom: .9;
}
.FirstCompareBack:hover {
  filter: blur(1px) !important;
}
.BgImage {
  background-size: contain;
  z-index: 33;
  background-position: center top;
  background-repeat: no-repeat;
}
.ImgReel {
  margin-right: 5px;
}
.ImgCompare {
  max-height: 188px;
}
@media (min-width:1200px) {
  .ImgCompare {
    min-height: 225px;
  }
}
.OurWorkDiv {
  padding-top: 3rem;
}
@media (min-width:1700px) {
  .OurWorkDiv {
    padding-top: 10rem;
  }
}
@media (min-aspect-ratio:1/1) {
  .OurWorkDiv {
    padding-top: 8rem;
  }
}
.OurMachinesDiv {
  padding-top: 7rem;
}
@media (min-aspect-ratio:1/1) {
  .OurMachinesDiv {
    padding-top: 10rem;
  }
}
.OurClients {
  padding-top: 7rem;
}
@media (min-aspect-ratio:1/1) {
  .OurClients {
    padding-top: 8rem;
  }
}
.ArrowDiv {
  cursor: pointer;
}
.ScrollableRow, .ScrollableRow img {
  user-select: none;
}
.OverflowFix {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.OverflowFix::-webkit-scrollbar {
  display: none;
}
.FooterInfo {
  background: #f3f3ff;
  box-shadow: 5px 5px 10px 5px rgba(0,0,0,.25);
  border-radius: 10px;
}
.Badge {
  background: #777393;
  border-radius: 10px;
  padding-right: 12px;
  padding-left: 12px;
}
.LeaveOrder {
  bottom: 68px !important;
  left: 211px !important;
  width: 56% !important;
}
.FormError {
  margin: 0;
  background: #ffdbc3;
  padding: .5rem;
  border-radius: .2rem;
  box-shadow: inset 0 0 7px 0 #e08344;
}
.FormSuccess {
  margin: 0;
  background: #cdffc3;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: inset 0 0 7px 0 #4ce044;
}
.FormError a, .FormError a:hover {
  color: #dc3545;
}
form.ContactFormCompleted input {
  background-color: #a9a7c8 !important;
}
.ContactRow {
  zoom: 1;
}
.ContactRow .ArrowInd {
  animation: zoomIn 2s ease-in-out infinite;
}
.ContactRow:hover .ArrowInd {
  animation: none;
}
.ContactRow .ArrowIndBase {
  transform: scale(1.5);
}
@keyframes zoomIn {
  0% {
    opacity: 1;
    transform: scale(1.5);
  }
  to {
    opacity: 0;
    transform: scale(3);
  }
}
@media (max-width:1200px) {
  .ContactRow .ArrowInd, .ContactRow .ArrowIndBase {
    display: block;
  }
}
@media (max-width:1199.9px) {
  .ContactRow {
    transition-duration: .8s;
    transition-property: left;
    bottom: -1rem;
    left: -45%;
  }
  .ContactRow:hover {
    left: 0;
  }
@media (min-width:1152px) {
    .ContactRow {
      left: -35%;
    }
}
}
@media (min-width:1200px) {
  .ContactRow {
    left: -204px;
  }
}
@media (min-width:1200px) and (max-width:1300px) {
  .ContactRow {
    zoom: .87;
  }
}
@media (min-aspect-ratio:1/1) {
@media (min-width:1200px) and (max-width:1300px) {
    .ContactRow {
      left: -230px;
    }
    .FooterAddress {
      margin-right: -5rem;
    }
}
@media (min-width:1300px) and (max-width:1400px) {
    .ContactRow {
      zoom: .9;
    }
    .FooterAddress {
      margin-right: -5rem;
    }
}
@media (min-width:1400px) and (max-width:1500px) {
    .ContactRow {
      zoom: .95;
    }
}
}
@media (max-aspect-ratio:1/1) and (min-width:1200px) {
@media (min-width:1200px) {
    .ContactRow {
      left: -225px;
    }
    .FooterAddress {
      margin-right: -5rem;
    }
}
}
.Parallax {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards;
}
@keyframes _unblurIn {
  0% {
    filter: blur(20px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}
.SectionBreak {
  text-align: center;
}
.hljs {
  font-size: larger;
}
.tm, .tm2 {
  font-family: 'Source Code Pro' , monospace;
}
.tm {
  background-color: lightgreen;
}
.tm2 {
  background-color: lightcoral;
}
html body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
}
.FMA {
  font-family: Montserrat Alternates !important;
}
.FM {
  font-family: Montserrat !important;
}
.L, .Light {
  font-weight: 300 !important;
}
.R, .Regular {
  font-weight: 400 !important;
}
.M, .Medium {
  font-weight: 500 !important;
}
.SB, .SemiBold {
  font-weight: 600 !important;
}
.B, .Bold {
  font-weight: 700 !important;
}
.T8 {
  font-size: 8px;
}
.T9 {
  font-size: 9px;
}
.T12 {
  font-size: 12px;
}
.T13 {
  font-size: 13px;
}
.T14 {
  font-size: 14px;
}
.T16 {
  font-size: 16px;
}
.T18 {
  font-size: 18px;
}
.T20 {
  font-size: 20px;
}
.T22 {
  font-size: 22px;
}
.T24 {
  font-size: 24px;
}
.T28 {
  font-size: 28px;
}
.T30 {
  font-size: 30px;
}
.T42 {
  font-size: 42px;
}
.T60 {
  font-size: 60px;
}
.CW, .ColorWhite, .ColourWhite {
  color: white;
}
.CB, .ColorBlack, .ColourBlack {
  color: black !important;
}
.BW, .BackgroundWhite {
  background: white !important;
}
.PR, .PositionRelative {
  position: relative;
}
.PA, .PositionAbsolute {
  position: absolute !important;
}
.BX, .BoxShadow {
  box-shadow: 2px 2px 2px rgba(0,0,0,.25);
}
.OrangeBtn {
  background: #e08344;
  border-radius: 30px;
  color: white;
  padding: .5rem;
}
.B0, .Border0 {
  border: 0;
}
.NoUnderline {
  text-decoration: none !important;
}
a.OrangeBtn:hover {
  color: white;
}
.RightColumn {
  line-height: 1.5rem;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.LeftColumn ul {
  list-style-type: none;
}
.LeftColumn ul li.Active {
  font-weight: 700;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}
* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
main {
  display: block;
}
body {
  margin: 0;
  font-family: -apple-system , BlinkMacSystemFont , "Segoe UI" , Roboto , "Helvetica Neue" , Arial , "Noto Sans" , sans-serif , "Apple Color Emoji" , "Segoe UI Emoji" , "Segoe UI Symbol" , "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h1, h2, h3 {
  margin-top: 0;
}
p, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
b {
  font-weight: bolder;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  vertical-align: middle;
  border-style: none;
}
button {
  border-radius: 0;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
}
input {
  overflow: visible;
}
button {
  text-transform: none;
  -webkit-appearance: button;
}
button:not(:disabled) {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
h1, h2, h3 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
.small {
  font-size: 80%;
  font-weight: 400;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters>.col {
  padding-right: 0;
  padding-left: 0;
}
.col-1, .col-2, .col-3, .col-4, .col-6, .col-7, .col-11, .col-12, .col, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-lg-2, .col-lg-3, .col-lg-5, .col-lg-8, .col-xl-8, .col-xl-9, .col-xl-10 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}
.col-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
@media (min-width:768px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width:992px) {
  .col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media (min-width:1200px) {
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
}
.d-block {
  display: block !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
@media (min-width:768px) {
  .d-md-none {
    display: none !important;
  }
}
@media (min-width:992px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
@media (min-width:1200px) {
  .d-xl-none {
    display: none !important;
  }
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.flex-fill {
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
}
.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}
.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}
.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}
.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}
.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}
.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}
.float-right {
  float: right !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.position-relative {
  position: relative !important;
}
.position-absolute {
  position: absolute !important;
}
.w-100 {
  width: 100% !important;
}
.h-100 {
  height: 100% !important;
}
.m-0 {
  margin: 0 !important;
}
.ml-0 {
  margin-left: 0 !important;
}
.mt-1 {
  margin-top: .25rem !important;
}
.mx-1 {
  margin-right: .25rem !important;
  margin-left: .25rem !important;
}
.mt-2 {
  margin-top: .5rem !important;
}
.mb-2 {
  margin-bottom: .5rem !important;
}
.ml-2 {
  margin-left: .5rem !important;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mt-4, .my-4 {
  margin-top: 1.5rem !important;
}
.mb-4, .my-4 {
  margin-bottom: 1.5rem !important;
}
.mt-5, .my-5 {
  margin-top: 3rem !important;
}
.mb-5, .my-5 {
  margin-bottom: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pr-0 {
  padding-right: 0 !important;
}
.pl-0 {
  padding-left: 0 !important;
}
.py-1 {
  padding-top: .25rem !important;
  padding-bottom: .25rem !important;
}
.p-2 {
  padding: .5rem !important;
}
.pt-2, .py-2 {
  padding-top: .5rem !important;
}
.pr-2, .px-2 {
  padding-right: .5rem !important;
}
.py-2 {
  padding-bottom: .5rem !important;
}
.px-2 {
  padding-left: .5rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.py-4 {
  padding-top: 1.5rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4, .py-4 {
  padding-bottom: 1.5rem !important;
}
.px-4 {
  padding-left: 1.5rem !important;
}
.pt-5, .py-5 {
  padding-top: 3rem !important;
}
.px-5 {
  padding-right: 3rem !important;
}
.pb-5, .py-5 {
  padding-bottom: 3rem !important;
}
.px-5 {
  padding-left: 3rem !important;
}
@media (min-width:768px) {
  .pr-md-3 {
    padding-right: 1rem !important;
  }
  .pr-md-5 {
    padding-right: 3rem !important;
  }
}
@media (min-width:1200px) {
  .mt-xl-0 {
    margin-top: 0 !important;
  }
}
.text-justify {
  text-align: justify !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-success {
  color: #28a745 !important;
}
.text-danger {
  color: #dc3545 !important;
}
@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  *::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
@page {
    size: a3;
  }
  body, .container {
    min-width: 992px !important;
  }
}
