<div PA top="-46px" PA container-fluid p-0 margin-left="-15px" margin-right="-15px">
  <img above-fold src="blocks/separator2/img/sep.svg" style="width:calc(100% + 30px)" alt="separator" />
</div>

<div PA top="-34px" PA container-fluid p-0 margin-left="-15px" margin-right="-15px">
  <img src="blocks/separator2/img/sep2.svg" style="width:calc(100% + 30px)" alt="separator" />
</div>
<div PA top="59px" PA container-fluid p-0 margin-left="-15px" margin-right="-15px">
  <img src="blocks/separator2/img/sep3.svg" style="width:calc(100% + 30px)" alt="separator" />
</div>