<head>
  <meta charset="utf-8">
  <page-title />
  <meta-description />
  <bootstrap-css no-meta rename drop />
  <meta id="myViewport" name="viewport" content="width=1200">

  <stylesheet href="styles/app.css" />
  <combine-css embed />
  <icon href="img/logo2.png"/>
  <google-font advanced unicode-range-cyrillic="U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116">
    Montserrat Alternates
    Montserrat:300,400,500,600,700
  </google-font>
  <!-- <google-font async>
    Source Code Pro
  </google-font> -->
  <open-graph />
</head>