<container OurClients pb-5>
  <row justify-content-center PR33>
    <column text-center mb-2 mt-5 T28>
      ## Наши клиенты
    </column>
  </row>

  <row mt-4 PR33>
    <div PA top="calc(50% - (63px / 2))" right="-25px">
      <img src="blocks/our-work/resources/arrow-right.png" alt="стрелка вправо" />
    </div>
    <div PA top="calc(50% - (63px / 2))" left="-25px">
      <img src="blocks/our-work/resources/arrow-left.png" alt="стрелка влево" />
    </div>

    <column d-flex ImgReelContainer overflow="scroll">
      <img px-4 ImgReel align-self-center flex-fill src="blocks/our-clients/img/1.png" alt="наш клиент" />
      <img px-4 ImgReel align-self-center flex-fill src="blocks/our-clients/img/2.png" alt="наш клиент" />
      <img px-4 ImgReel align-self-center flex-fill src="blocks/our-clients/img/3.png" alt="наш клиент" />
      <img px-4 ImgReel align-self-center flex-fill src="blocks/our-clients/img/4.png" alt="наш клиент" />
    </column>
  </row>
</container>