.PR33 {
  position: relative;
  z-index: 33;
}
.FirstCompareBack {
  filter: blur(2px);
  zoom: 0.9;
}
.FirstCompareBack:hover {
  filter: blur(1px) !important;
  /* zoom: 0.9; */
}
.BgImage {
  background-size: contain;
  z-index: 33;
  background-position: center top;
  background-repeat: no-repeat;
  /* background-image: url(/pages/b2c/content/4-our-works/img/white-bg.svg); */
}
.BgImage2 {
  /* background-image: url(/img/white-bg2.svg); */
}
.ImgReel {
  margin-right: 5px;
}
.ImgReelContainer {
  /* margin-right: 5px; */
}
.ImgCompare {
  /* max-width: 50; */
  /* max-height: 190px; */
  max-height: 188px;
}
@media (min-width:1200px) {
  .ImgCompare {
    min-height: 225px;
  }
}
.OurWorkDiv {
  padding-top: 3rem;
}
@media (min-width:1700px) {
  .OurWorkDiv {
    padding-top: 10rem;
  }
}
@media (min-aspect-ratio:1/1) {
  .OurWorkDiv {
    padding-top: 8rem;
  }
}
.OurMachinesDiv {
  padding-top: 7rem;
}
@media (min-aspect-ratio:1/1) {
  .OurMachinesDiv {
    padding-top: 10rem;
  }
}
.OurClients {
  padding-top: 7rem;
}
@media (min-aspect-ratio:1/1) {
  .OurClients {
    padding-top: 8rem;
  }
}
.ArrowDiv {
  cursor: pointer;
}
.ScrollableRow, .ScrollableRow img {
  user-select: none;
}
.OverflowFix {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
  /* overflow-x: -moz-scrollbars-none; */
  /* -ms-overflow-style: none; */
}
.OverflowFix::-webkit-scrollbar {
  /* Safari and Chrome */
  display: none;
  /* width: 0 !important; */
}