.SectionBreak {
  text-align: center;
}
.hljs {
  font-size: larger;
}
.tm, .tm2 {
  font-family: 'Source Code Pro', monospace;
}
.tm {
  background-color: lightgreen;
}
.tm2 {
  background-color: lightcoral;
}
html body {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 18px;
}
.FMA {
  font-family: Montserrat Alternates !important;
}
.FM {
  font-family: Montserrat !important;
}
.L, .Light {
  font-weight: 300 !important;
}
.R, .Regular {
  font-weight: 400 !important;
}
.M, .Medium {
  font-weight: 500 !important;
}
.SB, .SemiBold {
  font-weight: 600 !important;
}
.B, .Bold {
  font-weight: 700 !important;
}
.T8 {
  font-size: 8px;
}
.T9 {
  font-size: 9px;
}
.T12 {
  font-size: 12px;
}
.T13 {
  font-size: 13px;
}
.T14 {
  font-size: 14px;
}
.T16 {
  font-size: 16px;
}
.T18 {
  font-size: 18px;
}
.T20 {
  font-size: 20px;
}
.T22 {
  font-size: 22px;
}
.T24 {
  font-size: 24px;
}
.T28 {
  font-size: 28px;
}
.T30 {
  font-size: 30px;
}
.T42 {
  font-size: 42px;
}
.T60 {
  font-size: 60px;
}
.CW, .ColorWhite, .ColourWhite {
  color:white;
}
.CB, .ColorBlack, .ColourBlack {
  color:black !important;
}
.BW, .BackgroundWhite {
  background:white !important;
}
.PR,.PositionRelative {
  position: relative;
}
.PA,.PositionAbsolute {
  position: absolute !important;
}
.BX, .BoxShadow {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}
.OrangeBtn{
  background: #E08344;
  border-radius: 30px;
  color: white;
  padding: .5rem;
  /* background: #E08344; */
  /* border-radius: 30px; */
}
.B0, .Border0 {
  border: 0;
}
.NoUnderline {
  text-decoration: none !important;
}
a.OrangeBtn:hover {
  color: white;
}