.Service {
  background: #FFFFFF;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left:2rem;
  margin-right:2rem;
  padding-top:24px;
  padding-bottom:22px;
}
.AdvancedService {
  background: #FFFFFF;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-left:2rem;
  margin-right:2rem;
  padding-top:24px;
  padding-bottom:22px;
}
.AdvancedService ul {
  list-style: none;
  margin-left: 0;
  padding-left: 1.5rem;
  list-style-type: "•  ";
}

/* .AdvancedService ul li:before {
  content: "+";
  padding-right: 5px;
} */
body h1 {
  font-size: 30px;
}
.Service h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-top:18px;
}
.Service img {
  width: 50%;
  /* padding-bottom:18px; */
}
/* .Service img + h3 { */
  /* width: 50%; */
/* } */
body strong {
  font-weight: 500;
}
body h2 {
  font-size: 28px;
}
@media (min-width:992px) {
  .W-20 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20% !important;
            flex: 0 0 20% !important;
    max-width: calc((100% / 5) - 4rem) !important;
  }
  .SupportiveCleanDiv {
    margin-right: -15px;
    margin-left: -15px;
    /* margin-left:-12%;
    margin-right:30%; */
  }
}
@media (max-width:991.99px) {
  .DFlexRow {
    margin-top:-2rem;
  }
  .Service {
    margin-top: 2rem;
  }
}
.ServiceList {
  background: #F3F3FF;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
/* @media (max-width:1090px) {
  .TopVector {
    left:200px;
  }
}
@media (max-width:1240px) {
  .TopVector {
    right:-200px;
  }
} */
form input, form button {
  border: 0;
}
form input:focus, form button:focus {
  outline-color: #e08344;
}
.TopVector {
  right:0px;
  /* top: -60px; */
}
@media (min-width:1200px) {
  .TopVector {
    right:-200px;
  }
}
.TopIllustration2 {
  top: 0px !important;
}
.TopVector2 {
  right:0px;
  /* top: 0px; */
}
@media (min-width:1200px) {
  .TopVector2 {
    right:0;
  }
}
.ContactBtn {
  margin-left:-1rem;
}
@media (min-width:1300px) {
  .ContactBtn {
    margin-left:0;
  }
}
@media (min-width:1400px) {
  .ContactBtn {
    margin-left:1rem;
    padding-left:50px !important;
    padding-right:50px !important;
  }
}
@media (max-aspect-ratio: 1/1) {
  .TopParallax {
    top: 79px;
    transform: scaleY(-1);
  }
  /* .TopDecoHolder {
    transform:translate3d(0, 100px, 0px);
  } */
}
.LeftParallax {
  zoom: 1.2;
}
.MarginAuto {
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0;
  right: 0;
}
/* @media (max-width:1090px) {
} */

.Rotate {
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}
.Rotate:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
}
.AutoRotate {
  /* animation:spin 4s linear infinite; */
}
@keyframes spin {
  100% {
      transform:rotate(360deg);
  }
}
.RightParallax, .PlR2 {
  filter: blur(2px);
}
/* .PlR2 {

} */
.H1Div h2 {
  font-size: large;
}
.H1Div h1 {
  font-size: 27px;
}
.MotoDiv {
  width:85%;
}
@media (min-width:768px) and (max-width:991.99px) {
  /* .Service h3 {
    font-size: .75rem;
  } */
  .MainIllustration {
    right: -44%;
  }
  .NavContactsDiv {
    /* text-align: left !important; */
  }
}

@media (min-width:992px) and (max-width:1199.99px) {
  .Service h3 {
    font-size: .75rem;
  }
  .MainIllustration {
    right: -188px;
  }
}

@media (min-width:768px) and (max-width:991.99px) {
  .Service {
    width:50%!important;
  }
  .Service img {
    max-height: 70px;
  }
}
a.OrangeH:hover {
  color: white;
}

@media (min-width:1861px) {
  .MainIllustration {
    right: 0;
  }
}
@media (min-width:2230px) {
  .MainIllustration {
    right: 10%;
  }
}