.Stage {
  background: #FFFFFF;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding-top: 2.5rem;
  padding-bottom: 1rem;
}
.Stage img {

}
/* .Stage .OneLa {
  top: 15px;
  left: 134px;
} */
.Stage .Ribbon {
  top: -5px;
}
.Stage .Label {
  top: 15px;
}
.Stage .ThreeIm {
  top: -8px;
}
@media(min-width:992px) {
  .Stage .OneLa {
    left: 113px;
  }
  .Stage .OneIm {
    left: 96px;
  }

  .Stage .TwoLa {
    right: 113px;
  }
  .Stage .TwoIm {
    right: 96px;
  }
  .Stage .ThreeLa {
    left: 130px;
  }
}
@media(min-width:1200px) {
  .Stage .TwoLa {
    right: 132px;
  }
  .Stage .TwoIm {
    right: 116px;
  }
}

@media(min-width:1200px) {
  .Stage .OneLa {
    left: 134px;
  }
  .Stage .OneIm {
    left: 116px;
  }
}

.AboutInNumbers {
  background: #FBFBFF;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.Arrow4 {
  z-index: 2;
  top: -145px !important;
  left: -54px !important;
  width: 115% !important;
  height: 165% !important;
}
.AboutRow {
  background:#fbfbff;
  border-radius: 10px;
}
.Arrow1 {
  z-index: 2;
  top: 304px !important;
  left: 0 !important;
  /* left: -4px !important; */
  width: 115% !important;
  height: 165% !important;
}
.PR23 {
  position: relative;
  z-index: 23;
}
@media (min-width:992px) and (max-width:1199.99px) {
  /* .Stage .ThreeLa {
    left:110px;
  } */
  /* .CleanersNumber {

  } */
  /* .CleanersNumberCol .NumberInfo {
    padding-top: initial;
    text-align: left !important;
  } */
  .NumberInfo {
    padding-top: 0.218rem;
  }
  body .OurWorkDiv {
    padding-top: 1rem;
  }
  body .AboutRow .ArtColumn:nth-child(3) p.NumberInfo {
    left: 42% !important;
    font-size: 13pt;
  }
  body .AboutRow .ArtColumn:nth-child(3) p:first-of-type {
    /* top: 38% !important; */
  }
}

@media (min-width:768px) and (max-width:991.99px) {
  body .OurWorkDiv {
    padding-top: 0rem;
  }
  body .AboutRow p:first-of-type.FMA {
    top: 31% !important;
    font-size: 3rem !important;
    /* padding-top: 0rem; */
  }
  body .AboutRow p.NumberInfo {
    top: 36% !important;
    left: 50% !important;
    width: 27% !important;
    font-size:0.95rem;
    /* padding-top: 0rem; */
  }
  body .AboutRow .ArtColumn:nth-child(2) p.NumberInfo {
    top: 41% !important;
    left: 48% !important;
    /* font-size:0.95rem; */
  }
  body .AboutRow .ArtColumn:nth-child(2) p:first-of-type {
    top: 35% !important;
  }
  body .AboutRow .ArtColumn:nth-child(3) p.NumberInfo {
    top: 40% !important;
    left: 44% !important;
    font-size:0.9rem;
  }
  body .AboutRow .ArtColumn:nth-child(3) p:first-of-type {
    top: 38% !important;
  }
}
body main {
  overflow: hidden;
}