@media (min-width:992px) and (max-width:1199.99px) {
  .MotoDiv {
    width:75%;
  }
}
@media (min-width:993px) and (max-width:1120.99px) {
  .MotoDiv {
    width:60%;
  }
}
@media (min-width:768px) and (max-width:991.99px) {
  .MotoDiv {
    width:65%;
  }
  .row:nth-child(even) .Stage .Ribbon {
    left: 111px;
  }
  .row:nth-child(even) .Stage .Label {
    left: 129px;
  }
  .row:nth-child(odd) .Stage .Label {
    right: 127px;
  }
  .row:nth-child(even) .Stage .ThreeLa {
    left: 125px;
  }
  .row:nth-child(odd) .Stage .Ribbon {
    right: 111px;
  }
}
@media (min-width:768px) and (max-width:800px) {
  .MotoDiv {
    width:55%;
  }
}
@media (min-width:870px) and (max-width:991.99px) {
  .MotoDiv {
    width:75%;
  }
}
@media (min-width:892px) and (max-width:991.99px) {
  .MotoDiv {
    width:95%;
  }
}