<stylesheet href="styles/Service.css" />

<div PR background="linear-gradient(180deg, #FFFFFF 17.81%, #9C9CC3 100%);" padding-bottom="15rem">
  <img z-index="10" TopVector MainIllustration above-fold PA top="-91px" src="img/fullImg.svg" alt="top vector" />

  <block-top-parallax />

  <block-navstrip />

  <top-container
    title="Чистота - главная визитная карточка любой организации"
    moto="Выберите нас и Вы останетесь довольны результатом!"
  >
    <span R T18>B2G</span> - Ежедневная уборка и содержание прилегающих территорий и внутренних помещений для государственных организаций.
  </top-container>

  <container z-index="10" PR>
    <div w-100 h-100 left="0" top="0" ServiceList PA z-index="10">
    </div>

    <img width="105%" z-index="9" TopVector PA left="-60px" bottom="-100px" src="img/deco/13.png" alt="bottom vector" />
    <img z-index="9" TopVector PA left="0" bottom="-53px" src="img/deco/12.png" alt="bottom vector" />

    <row PR z-index="11">
      <column text-center col-12 py-5>
        ## Перечень оказываемых услуг

      </column>
    </row>
    <row padding-bottom="3.5rem" z-index="11" PR>
      <advanced-column title="Уборка прилегающей территории" iconSrc="img/icons/general-clean.svg"
        contact linkTitle="Связаться" text-left>

        - сборка поточного мусора
        - покос травы
        - подметание и промывка тротуаров
        - уборка снега и наледи
        - механизированная уборка
        - вывоз снега

      </advanced-column>

      <advanced-column title="Уборка внутренних помещений" iconSrc="img/icons/disinfection.svg"
        contact linkTitle="Связаться">

        - поставка расходных материалов
        - ежемесячные генеральные уборки
        - мойка остекления
        - влажная и сухая уборка пола
        - удаление мусора из мусорных корзин
        - удаление пыли со всех поверхностей
        - очистка ковровых покрытий
        - санитарное содержание с/у

      </advanced-column>

      <advanced-column title="Промышленный альпинизм" iconSrc="img/icons/support-clean.svg"
        contact linkTitle="Связаться">

        - наружняя мойка остеклений
        - очитска кровель от снега

      </advanced-column>
    </row>
  </container>
</div>
