<stylesheet href="styles/Stage.css" />

<container-fluid overflow-hidden
  padding-bottom="5rem"
  background="linear-gradient(180deg, rgba(253, 253, 254, 0.9) 0%, rgba(201, 197, 225, 0.9) 33.25%, rgba(132, 123, 186, 0.9) 56.72%, rgba(80, 66, 111, 0.9) 100%);"
>
  <container PR23>
    <block-stages-parallax />

    <row justify-content-center PR23>
      <column text-center my-5>
        ## Этапы работы
      </column>
    </row>

    <stageRight title="Отправка ТЗ" stage="1" labelClass="OneLa" ribbonClass="OneIm" z-index="24">
      Оставьте ТЗ и получите коммерческое предложение в течении часа!
    </stageRight>

    <stageLeft title="Расчет" stage="2" labelClass="TwoLa" ribbonClass="TwoIm" mt-4 pt-5 z-index="25">
      Наш менеджер свяжется с Вами и уточнит все детали и нюансы для расчета КП
    </stageLeft>

    <stageRight title="Проведение тендера" stage="3" labelClass="ThreeLa" ribbonClass="ThreeIm OneIm" mt-4 pt-5 voidArrow comment-opaque>
    </stageRight>
  </container>

  <!-- О НАС В ЦИФРАХ -->

  <container AboutInNumbers margin-top="10rem" PR>
    <block-numbers-parallax />

    <row AboutRow justify-content-center PR z-index="23">
      <column text-center mb-4 mt-5>
        ## О нас в цифрах
      </column>
    </row>
    <row AboutRow pb-4 px-4 PR z-index="23">
      <number-column cid="one" number="5" imgSrc="img/numbers/1.png"
        n-top="41%" n-left="20.5%" p-top="45%" p-left="51%" p-width="27%">
        лет работы на рынке
      </number-column>

      <number-column cid="two" number="95" imgSrc="img/numbers/2.png"
        padding-top="28px" n-top="38.5%" n-left="14.5%" p-top="41%" p-left="45%" p-width="50%">
        довольных контрагентов
      </number-column>

      <number-column cid="three" number="6" imgSrc="img/numbers/3.png"
        padding-top="42px" n-top="39%" n-left="18%" p-top="40%" p-left="38%" p-width="50%">
        единиц спецтехники
      </number-column>
    </row>
  </container>
</container-fluid>