<stylesheet href="styles/4Works.css" />

<add-file>img/white-bg2.svg</add-file>
<container-fluid PR33 background="white" BgImage2 overflow-hidden pb-5>
  <block-white-separator />

  <block-our-equipment />

  <!-- <div w-100 height="10px" background="white" box-shadow="10px 10px">

  </div> -->
  <block-our-work padding-top="0">
    <block-cleaning-example />

    <block-clearing-example />
  </block-our-work>

</container-fluid>

<container-fluid PR margin-top="5rem">
  <block-separator2 />

  <block-our-gov-clients />

  <div PA bottom="0" PA container-fluid p-0 margin-left="-15px" margin-right="-15px" height="50%" background="white">
  </div>
</container-fluid>
